@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb; /* gray-50 */
}
